.card-pink {
  background-color: #FADBFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  max-height: fit-content;
  margin-bottom: 10px;
  height:8em;
}

.card-mint {
  background-color: #c6faf6;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  // min-height: 9em;
  margin-bottom: 10px;

  .p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  }
}

.modal-cards{
  background-color: #FADBFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  max-height: fit-content;
  margin-bottom: 10px;
    .h5 {
      font-weight: bold;
    }
}

.icon-container {
  display: flex;
  align-items: center;
  min-height: 50px;
}

.icon-red{
  font-size: 20px;
  color: rgb(183, 0, 0);

  &:hover {
    color: rgb(78, 0, 0);
  }
}

.icon-blue{
  font-size: 20px;
  color: rgb(33, 114, 253);

  &:hover {
    color: rgb(0, 0, 156);
  }
}

.icon-not-complete, .icon-complete {
  border-radius: 50%;
  font-size: 20px;
}

.icon-not-complete{
  color: gray;
}

.icon-complete{
  color: rgb(17, 184, 17);
}

.no-underline {
  text-decoration: none;
}

.head-right-side{
  width: 50%;
}

.assigned-user-text {
  bottom: -1.5em;
  left: 50%;
  transform: translateX(-50%);
}

.assigned-user-image, .icon-complete, .icon-not-complete {
  transition: 0.15s ease-in-out;

  &:hover {
    cursor: pointer;
    transition: 0.15s ease-in-out;
    transform: scale(1.2, 1.2);
    box-shadow: 0 0 8px rgba($color: black, $alpha: 0.3);
  }
}

.assigned-user-image {
  &:active {
    transform: translateY(10px);
    transition: 0.15s ease-in-out;
  }
}

.completion-button-container {
  &:focus {
    border: none;
    outline: none;
  }
  &:active {
    border: none;
    outline: none;
  }
}

.tasks-users-dropdown {
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  z-index: 100 !important;
  min-width: 220px;

  .tasks-users-dropdown-select {
    flex-grow: 1;

    &:hover {
      background-color: #bbb9b9;
      cursor: pointer;
    }

    .tasks-users-dropdown-text {
      word-wrap: nowrap;
    }
  }
}
