<div class="container">
 <ul>
  <% @events.each do |event| %>
    <li>
      <%= event.title %>
    </li>
  <% end %>
 </ul>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= task.title %>
      </li>
    <% end %>
  </ul>
</div>
