.btn-sidebar {
  position: fixed;
  background-color: #8a8a8a;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 160px;
  width: 80px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.sidebar-icon-size-med {
  font-size: 40px;
}
