<%= turbo_frame_tag :messages, class: "d-flex flex-column w-100 h-100" do %>
  <div class="messages-body d-flex flex-column h-100" data-controller="chats--messages">
    <div class="messages d-flex flex-column flex-grow-1" data-chats--messages-target="messages">
      <% messages.each do |message| %>
        <div class="message-bubble d-flex flex-column">
          <p class="message card <%= "align-self-end" if message.user == current_user %>"><%= message.message %></p>
        </div>
      <% end %>
    </div>
    <form action="/messages" method="POST" class="d-flex w-100">
      <div class="d-flex align-self-end w-100">
        <input type="hidden" name="chat_id" value="<%= chat.id %>">
        <input type="text" name="message" class="form-control">
        <input type="submit" class="btn btn-primary">
      </div>
    </form>
  </div>
<% end %>
