<!-- BANNER -->
<div class="banner position-relative">
  <%= image_tag 'banner.png', alt: 'Banner Image', class: 'img-fluid w-100' %>
</div>

<div class="home-container">
  <p>
    Welcome to Eventerate, a powerful tool
    you can leverage to build events automatically
    for you with just a click of your finger!
  </p>
</div>

<div class="home-link text-center m-5">
  <%= link_to "New Organization", new_organization_path, class: "btn btn-primary" %>
</div>
