.simple-calendar {
  background: linear-gradient(135deg, #d4a4a4, #e3f2fd); // Soft gradient
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    border: 1px solid #ddd;
  }

  .calendar-heading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: #ffffff;
    background: linear-gradient(90deg, #740478, #862ee5); // Gradient heading
    border-radius: 6px 6px 0 0;
  }

  a {
    background: #6b4ae2;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    transition: background 0.2s ease-in-out;

    &:hover {
      background: #380d53;
    }
  }
}

.event-item {
  background: #0cd764;
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 4px;
  margin-top: 3px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
