.footer {
  background-color: #482d56;
  padding: 20px 0;
  text-align: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text-muted {
    color: white !important;
  }
}
